# python_version >= "3.7"
pip>=24.3.1
streamlit
# streamlit-scrollable-textbox
# distutils
openai
pandas
numpy
llama_parse
uniflow
transformers
beautifulsoup4
PyPDF2
scikit-learn
plotly
matplotlib
yfinance==0.2.48
yahooquery
beautifulsoup4
openpyxl
arch
keras
